body {
  margin: 0;
  font-family: "Trebuchet MS", "Segoe UI", "Candara", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Consolas", "Courier New", monospace;
}
